<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/caststyles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <title></title>
</head>
<body>
    <div class="main">
        <%- include("navbar.ejs") %>
        <div class="castheading">
            Movies From <%= cname %>
        </div>
        <div class="movie-type">
            <div class="movie-container">

                <% for(let i=0 ; i<hi.cast.length ; i++) {%>
                    <a class="movie-items" href="<%= `/movie/${hi.cast[i].id}` %>">
                        <img class="movie-img" src="<%= baseimgURL + hi.cast[i].poster_path %>" alt = "Poster Image">
                        <div class="movie-name">
                            <%if (hi.cast[i].title.length > 15) {%>
                                <%= hi.cast[i].title.slice(0,14) + "..."%>
                            <%}else {%>
                                <%=hi.cast[i].title%>
                            <%}%>
                        </div>
                        <div class="movie-desc"><%= hi.cast[i].overview.slice(0,100) %><%= "....." %></div>
                    </a>
                <% } %>
            </div>    
        </div>
    </div>
</body>
<script src="/javascript/darkmode.js"></script>
</html>