<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <title> Movies </title>
</head>
<body>


    <%- include("navbar.ejs") %>

    <!-- <div class="carousel">

    </div> -->
    <header class="head">
        <h1>Welcome </br>to the new world </br> of Movies</h1>
    </header>

    <section class="movie-section">
        <div class="movie-type">
            <div class="list-title">
                Popular Hindi Movies  
            </div>
            <div class="movie-container">

                <% for(let i=0 ; i<10 ; i++) {%>
                    <a class="movie-items" href="<%= `/movie/${hi[i].id}` %>">
                        <img class="movie-img" src="<%= baseimgURL + hi[i].poster_path %>" alt = "Poster Image">
                        <div class="movie-name">
                            <%if (hi[i].title.length > 15) {%>
                                <%= hi[i].title.slice(0,14) + "..."%>
                            <%}else {%>
                                <%=hi[i].title%>
                            <%}%>
                        </div>
                        <div class="movie-desc"><%= hi[i].overview.slice(0,100) %><%= "....." %></div>
                    </a>
                <% } %>
            </div>    
        </div>
        <div class="movie-type">
            <div class="list-title">
                Top Movies Now Playing 
            </div>
            <div class="movie-container">

                <% for(let i=0 ; i<10 ; i++) {%>
                    <a class="movie-items" href="<%= `/movie/${np[i].id}` %>">
                        <img class="movie-img" src="<%= baseimgURL + np[i].poster_path %>" alt = "Poster Image">
                        <div class="movie-name">
                        <%if (np[i].title.length > 15) {%>
                            <%= np[i].title.slice(0,14) + "..."%>
                        <%}else {%>
                            <%=np[i].title%>
                        <%}%>
                        </div>
                        <div class="movie-desc"><%= np[i].overview.slice(0,100) %><%= "....." %></div>
                    </a>
                <% } %>
            
            </div>
        </div>
        <div class="movie-type">
            <div class="list-title">
                Top Popular Movies  
            </div>
            <div class="movie-container">

                <% for(let i=0 ; i<10 ; i++) {%>
                    <a class="movie-items" href="<%= `/movie/${p[i].id}` %>">
                        <img class="movie-img" src="<%= baseimgURL + p[i].poster_path %>" alt = "Poster Image">
                        <div class="movie-name">
                            <%if (p[i].title.length > 15) {%>
                                <%= p[i].title.slice(0,14) + "..."%>
                            <%}else {%>
                                <%=p[i].title%>
                            <%}%>    
                        </div>
                        <div class="movie-desc"><%= p[i].overview.slice(0,100) %><%= "....." %></div>
                    </a>
                <% } %>
            
            </div>
        </div>
    </section>

    <footer>

    </footer>

    </div>
    <script src="./javascript/darkmode.js"></script>
</body>
</html>